<div class="rcc-emergency-appeal-page-cover">
  <div class="rcc-emergency-appeal-banner">
    <h1>Emergency Appeal</h1>
    <p>On the night of Monday 10th April, a fire ripped through the La Liniere Refugee camp, burning down the children's centre, other community spaces and many, many shelters.</p>
    <p class="rcc-emergency-appeal-cut">We have lost everything in the centre and we desperately need funds to replace resources and buy emergency supplies. The volunteers are hugely important to the children and their continued contact with them at this time cannot be undervalued.</p>
    <p>Any donation you can make to help us support the children during this very difficult time is hugely appreciated.</p>
    <div class="rcc-centrer">
      <a href="https://www.youcaring.com/fundraiser-798193" title="Emergency Appeal Donation Link" target="_blank">
        <div class="rcc-emergency-appeal-cta">
          <p class="bold">DONATE</p>
        </div>
      </a>
    </div>
    <p>Thank you.<p>
    <p>*Any money raised not spent on the Children's Centre in Dunkirk will be put towards other Refugee Children's Centre Projects*<p>
    <img class="rcc-emergency-appeal-close" id="emergency-appeal-close" src="/images/close-red.svg" alt="Close">
  </div>
</div>
