<div class="rcc-footer">
  <div class="rcc-footer-left">
    <p class="rcc-small-print">
      <a class="hide" href="/privacy.html" alt="See our Privacy and Cookies Policy" target="_blank">
        Privacy
      </a>
      &bull; &copy; Refugee Children's Centres <%= Time.now.strftime("%Y") %>
    </p>
  </div>
  <div class="rcc-footer-centre">
    <h1 id="newsletter-signup">Get Our Newsletter</h1>
    <!-- Begin MailChimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
    <div id="mc_embed_signup">
      <form action="https://refugeechildrenscentres.us16.list-manage.com/subscribe/post?u=5de3e1419dcdebe84d45e58c9&amp;id=1962670e9f" method="post" id="mc-embedded-subscribe-form" style="padding: 0; text-align: center;" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <div class="rcc-mc-input-container">
  	        <input type="email" value="" name="EMAIL" id="mce-EMAIL" style="width: 280px; border-style: none; border-radius: 15px; padding: 10px; margin-bottom: 20px; font: inherit;" placeholder="Email">
          </div>
          <div class="rcc-mc-input-container">
  	        <input type="text" value="" name="FNAME" id="mce-FNAME" style="width: 280px; border-style: none; border-radius: 15px; padding: 10px; margin-bottom: 20px; font: inherit;" placeholder="First Name">
          </div>
          <div class="rcc-mc-input-container">
  	        <input type="text" value="" name="LNAME" id="mce-LNAME" style="width: 280px; border-style: none; border-radius: 15px; padding: 10px; margin-bottom: 20px; font: inherit;" placeholder="Last Name">
          </div>
  	      <div id="mce-responses" class="clear">
  		      <div class="response" id="mce-error-response" style="display:none; margin: 0; padding: 0; width: 290px;"></div>
  		      <div class="response" id="mce-success-response" style="display:none; margin: 0; padding: 0; width: 290px;"></div>
  	      </div>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_5de3e1419dcdebe84d45e58c9_1962670e9f" tabindex="-1" value="">
          </div>
          <div class="clear">
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="rcc-contact-field rcc-contact-submit-button" style="border-radius: 15px; font-weight: 700; border: none; margin: 0; margin-left: auto; margin-right: auto; padding: 13px;">
          </div>
        </div>
      </form>
    </div>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'>
    </script>
    <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    <!--End mc_embed_signup-->
  </div>
  <div class="rcc-footer-right">
    <a href="https://leigh.webworkshop.ltd" title="Web Workshop" target="_blank">
      <p class="rcc-small-print">
        Website &amp; Hosting by Leigh Web Workshop
        <img class="ww-logo" src="images/ww-logo.svg" alt="Web Workshop Logo">
      </p>
    </a>
  </div>
</div>
