<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta charset="utf-8">
<meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Refugee Children’s Centres provide a reliable, positive and caring environment to shield against the adverse experiences of refugee children’s unsettled lives.">
<%= favicon_tag '../images/rcc-favicon.png' %>
<title><%= current_page.data.title %> || Refugee Children's Centres</title>

<script type="text/javascript">var jslang='EN';</script>

<%= stylesheet_link_tag "site" %>
<link href="https://fonts.googleapis.com/css?family=Muli:400,700|Amatic+SC:700" rel="stylesheet">

<meta property="og:url" content="https://refugeechildrenscentres.org/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Refugee Children's Centres" />
<meta property="og:description" content="Refugee Children’s Centres provide a reliable, positive and caring environment to shield against the adverse experiences of refugee children’s unsettled lives." />
<meta property="og:image" content="https://refugeechildrenscentres.org/images/children-outside.jpg" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@RefugeeRCC">
<meta name="twitter:creator" content="@RefugeeRCC">
<meta name="twitter:title" content="Refugee Children's Centres">
<meta name="twitter:description" content="Refugee Children’s Centres provide a reliable, positive and caring environment to refugee children.">
<meta name="twitter:image" content="https://refugeechildrenscentres.org/images/children-outside.jpg">
