
$rcc-colour-white: #FFFFFF;
$rcc-colour-black: #302F2F;
$rcc-colour-blue: #45ACE8;
$rcc-colour-grey: #DADEDF;
$rcc-colour-orange: orange;
$rcc-colour-red: rgba(182, 0, 0, 1);
$rcc-colour-blue-lower-opacity: rgba(69, 172, 232, 0.9);
$rcc-colour-blue-lowest-opacity: rgba(69, 172, 232, 0.2);
$rcc-colour-black-lowest-opacity: rgba(0, 0, 0, 0.3);
$rcc-colour-white-lower-opacity: rgba(255, 255, 255, 0.85);
$rcc-colour-white-lowest-opacity: rgba(255, 255, 255, 0.5);
$rcc-colour-red-lower-opacity: rgba(182, 0, 0, 0.6);
