---
title: Privacy and Cookies Policy
---
<div class="rcc-content rcc-content-privacy">
  <h1>
    PRIVACY AND COOKIES POLICY
  </h1>
  <p>
    REFUGEE CHILDREN’S CENTRES ("We", “us” or “our”) are committed to protecting and respecting your privacy.
  </p>
  <p>
    This policy sets out the basis on which any personal data we collect from you, or that you provide to us, will be processed by us.  Please read the following carefully to understand our views and practices regarding your personal data and how we will treat it. By visiting www.refugeechildrenscentres.org you are accepting and consenting to the practices described in this policy.
  </p>
  <p>
    For the purpose of the Data Protection Act 1998 (the Act), the data controller is Refugee Children’s Centres, ADDRESS.
  </p>
  <h2>
    INFORMATION WE MAY COLLECT FROM YOU
  </h2>
  <p>
    We may collect and process the following data about you:
  </p>
  <p>
    Information you give us: You may give us information about you by filling in forms on our site www.refugeechildrenscentres.org (our site) or by corresponding with us by e-mail, telephone or otherwise. This includes information you provide to us through our site. The information you give us may include:
  </p>
  <ul>
    <li>
      your name, e-mail address and any other details that you may provide when you contact us using the online form on our site
    </li>
    <li>
      your name and email address when you sign up to our newsletter via our site
    </li>
  </ul>
  <p>
    Information we collect about you. With regard to each of your visits to our site we may automatically collect the following information:
  </p>
  <ul>
    <li>
      technical information, including the Internet protocol (IP) address used to connect your computer to the Internet, browser type and version, time zone setting, browser plug-in types and versions, operating system and platform;
    </li>
    <li>
      information about your visit, including the full Uniform Resource Locators (URL) clickstream to, through and from our site (including date and time); page response times, download errors, length of visits to certain pages, page interaction information (such as scrolling, clicks, and mouse-overs), and methods used to browse away from the page.
    </li>
  </ul>
  <p>
    Information we receive from other sources. We may receive information about you if you use any third party website services to interact with our website, for example Facebook or Twitter. We are also working closely with third parties (including, for example, business partners, sub-contractors in technical and delivery services, analytics providers, search information providers) and may receive information about you from them.
  </p>
  <p>
    We love to receive feedback about your experience with Refugee Children’s Centres. You can send us your feedback using the form on our <a href="/contact-us.html" alt="Go to our contact page" target="_blank">contact page</a>.  We don’t knowingly collect personal information through our feedback form.
  </p>
  <h2>
    IP ADDRESSES AND COOKIES
  </h2>
  <p>
    We use analytics to collect and store anonymous statistical data about our users’ visits to our site.
  </p>
  <p>
    We may also collect information about your computer, mobile phone (or other portable or static device used to access our site) and your visit to our site, including where available your IP address, operating system, session_id, login, screen name and browser type, for system administration and to report aggregate information to our partners and if necessary our advertisers.
  </p>
  <p>
    We may obtain information about your general internet usage by using a cookie file and/or similar tools which are stored on the hard drive of your computer. Cookies contain information that is transferred to your computer’s hard drive to report back anonymous data to us. They help us to improve our site and to deliver a better and more personalised service.
  </p>
  <p>
    Our site is hosted by <a href="https://webworkshop.ltd" alt="Go to Web Workshop" target="_blank">Web Workshop</a> and uses the following cookies:
  </p>
  <h2>
    MailChimp
  </h2>
  <p>
    The newsletter/mailing list service provided by The Rocket Science Group, LLC which does business under the name “MailChimp” helps us to create, send, and manage the newsletters that we send to those users who have subscribed to our mailing list via our site. When users subscribe to our newsletter MailChimp may collect the information that those users provide, such as names and email addresses. Newsletters sent by us using the MailChimp service may include single pixel gifs called web beacons. MailChimp uses these web beacons to collect information about how users use the newsletters that we send to them, such as when the newsletter was opened and the typical time spent reading the newsletter. The information is stored by MailChimp on their servers based in the United States.
  </p>
  <p>
    If you no longer wish to receive our newsletter you can contact us directly and request that we delete your data. Each newsletter we send to you shall also include an option to “unsubscribe” from our newsletter. If at any time you no longer wish to receive our newsletter please click the “unsubscribe” link contained in latest newsletter email you receive and we shall remove you from our mailing list. If you would like MailChimp to remove or update your information from their servers please contact MailChimp directly. For more information on what information MailChimp collect and how they use it, please see MailChimp's privacy policy here.
  </p>
  <h2>
    Google Analytics
  </h2>
  <p>
    This web analytics service provided by Google Inc helps us to analyse how users use our site. It counts the number of visitors and tells us things about their behaviour overall, such as typical length of stay on our site or the average number of pages a user views. This information generated by the cookie about your use of our site will be transmitted to and stored by Google on their servers. Google will use this information for the purpose of evaluating your use of our site, compiling reports on website activity and providing other services relating to website activity. Google Analytics terms of service can be accessed here: www.google.co.uk/analytics/terms/us.html.
  </p>
  <p>
    Generally, cookies may be used to enable us:
  </p>
  <ul>
    <li>
      To estimate our audience size and usage pattern.
    </li>
    <li>
      To store information about your preferences, and so allow us to customise our site according to your individual interests and provide a more personalised experience to you.
    </li>
    <li>
      To speed up your searches.
    </li>
    <li>
      To recognise you when you return to our site.
    </li>
  </ul>
  <p>
    Some third party cookies are set by services that appear on our site. They are set by the operators of that service and are not in our control. They are set by Twitter, Facebook and other third party services and relate to the ability of users to share content on our site.
  </p>
  <p>
    You may refuse to accept cookies by activating the setting on your browser which allows you to refuse the setting of cookies. By continuing to use our site you give your pre-informed consent to us using cookies (and other similar tools) on your visit. If you subsequently wish to revoke this consent, you may do so by deleting the cookies (and similar tools) via your browser tools settings. However, if you select this setting you may be unable to access certain parts of our site. Unless you have adjusted your browser setting so that it will refuse cookies, our system may issue cookies when you log on to our site.
  </p>
  <p>
    If you want to learn more about cookies you can do so at www.allaboutcookies.org. If you want to learn about how to opt out of Google Analytics, please visit https://tools.google.com/dlpage/gaoptout/ or your Google Ads Settings.
  </p>
  <h2>
    Uses made of the information
  </h2>
  <p>
    We use information held about you in the following ways:
  </p>
  <p>
    Information you give to us. We will use this information:
  </p>
  <ul>
    <li>
      to provide you with the information that you request from us;
    </li>
    <li>
      to notify you about changes to our services;
    </li>
    <li>
      to ensure that content from our site is presented in the most effective manner for you and for your computer;
    </li>
  </ul>
  <p>
    Information we collect about you. We will use this information:
  </p>
  <ul>
    <li>
      to administer our site and for internal operations, including troubleshooting, data analysis, testing, research, statistical and survey purposes;
    </li>
    <li>
      to improve our site to ensure that content is presented in the most effective manner for you and for your computer;
    </li>
    <li>
      to allow you to participate in interactive features of our service, when you choose to do so;
    </li>
    <li>
      as part of our efforts to keep our site safe and secure;
    </li>
    <li>
      to measure or understand the effectiveness of advertising we serve to you and others, and to deliver relevant advertising to you;
    </li>
    <li>
      to make suggestions and recommendations to you and other users of our site about goods or services that may interest you or them.
    </li>
  </ul>
  <p>
    Information we receive from other sources. We may combine this information with information you give to us and information we collect about you. We may use this information and the combined information for the purposes set out above (depending on the types of information we receive).
  </p>
  <h2>
    Disclosure of your information
  </h2>
  <p>
    We may share your personal information with any member of our group, which means our subsidiaries, our ultimate holding company and its subsidiaries, as defined in section 1159 of the UK Companies Act 2006.
  </p>
  <p>
    We may share your information with selected third parties including:
  </p>
  <ul>
    <li>
      Business partners, suppliers and sub-contractors for the performance of any contract we enter into with them or you.
    </li>
    <li>
      Analytics and search engine providers that assist us in the improvement and optimisation of our site.
    </li>
  </ul>
  <p>
    We may disclose your personal information to third parties:
  </p>
  <ul>
    <li>
      In the event that we sell or buy any business or assets, in which case we may disclose your personal data to the prospective seller or buyer of such business or assets.
    </li>
    <li>
      If Refugee Children's Centres or substantially all of its assets are acquired by a third party, in which case personal data held by it about its customers will be one of the transferred assets.
    </li>
    <li>
      If we are under a duty to disclose or share your personal data in order to comply with any legal obligation; or to protect the rights or property of Refugee Children's Centres, our users, or others. This includes exchanging information with other companies and organisations for the purposes of fraud protection and credit risk reduction.
    </li>
  </ul>
  <h2>
    Where we store your personal data
  </h2>
  <p>
    The data that we collect from you may be transferred to, and stored at, a destination outside the European Economic Area ("EEA"). It may also be processed by staff or computer servers operating outside the EEA who work for us or for one of our suppliers. Such staff maybe engaged in, among other things, the provision of support services. By submitting your personal data, you agree to this transfer, storing or processing. We will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this privacy and cookies policy.
  </p>
  <p>
    Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted to our site; any transmission is at your own risk. Once we have received your information, we will use strict procedures and security features to try to prevent unauthorised access.
  </p>
  <h2>
    Your rights
  </h2>
  <p>
    We will not process your personal data for marketing purposes nor will we disclose your information to any third party for such purposes. We will only use your personal data to provide you with our newsletter where you have requested this via our site, with information about volunteering where you have requested to receive this, and/or to reply to your queries that you have submitted to us through our site. If you have any further queries about how we process your personal data you can contact us at info@refugeechildrenscentres.org.
  </p>
  <p>
    Our site may, from time to time, contain links to and from the websites of our partner networks, advertisers and affiliates.  If you follow a link to any of these websites, please note that these websites have their own privacy policies and that we do not accept any responsibility or liability for these policies.  Please check these policies before you submit any personal data to these websites.
  </p>
  <p>
    Our site is intended for and directed at the United Kingdom. No representation or warranty is made as to whether site complies with the laws of any other country.
  </p>
  <h2>
    Access to information
  </h2>
  <p>
    The Act gives you the right to access information held about you. Your right of access can be exercised in accordance with the Act. Any access request may be subject to a fee of £10 to meet our costs in providing you with details of the information we hold about you.
  </p>
  <h2>
    MINORS
  </h2>
  <p>
    Please note that our site and the service available on it are not aimed at Minors, and you should not share any personal information with us if you are a Minor (the age of Minors is determined by local laws where you reside).
  </p>
  <p>
    You should not use our site if you are 13 years of age, or younger.
  </p>
  <p>
    If you are under 18 years of age you should speak with your parent or guardian to review this privacy policy and explain it to you before using our site and submitting any personal information through our site.
  </p>
  <h2>
    Changes to our privacy and cookies policy
  </h2>
  <p>
    Any changes we may make to our Privacy and Cookies policy in the future will be posted on this page and, where appropriate, notified to you by e-mail. Please check back frequently to see any updates or changes to our Privacy and Cookies policy.
  </p>
  <h2>
    Contact
  </h2>
  <p>
    Questions, comments and requests regarding this policy are welcomed and should be addressed to info@refugeechildrenscentres.org.
  </p>
  <p class="centre">
    Last updated 10th October 2017.
  </p>
</div>
